
.p-t-8 {
    padding-top: 8px;
}
.error-text {
    color: red;
    font-size: 12px;
}
.disabled {
    pointer-events: none;
    opacity:0.5;
}
.hand {
    cursor: pointer;
}
.text-capitalize {
    text-transform: capitalize;
}